*{
    box-sizing: border-box;
}
.header-container{
    height: 650px;
    position: relative;
    background-image: url('../../../images/chair-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}