.gLogo-img{
    height: 35px;
    position: relative;
    right: 5%;
}
.google-btn{
    width: 50%;
    border-radius: 50px;
    color: rgb(21, 22, 22) !important;
}
.full-page{
    margin-bottom: 0 !important;
    min-height: 100vh;
}
@media (max-width: 943px){
    .google-line{
        display: none;
    }
}